{% extends "shop/base.html" %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}
    <h1>Pay by credit card</h1>
    <form id="paymentForm">
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email-address" value='{{order.email}}' disabled/>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="tel" id="amount" required value='{{total_cost}}' disabled />
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" value='{{order.first_name}}' disabled/>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" value='{{order.last_name}}' disabled/>
        </div>
        <div class="form-submit">
            <button type="submit" onclick="payWithPaystack()"> Pay </button>
        </div>
    </form>
    <script>
        const paymentForm = document.getElementById('paymentForm');
            paymentForm.addEventListener("submit", payWithPaystack, false);
            function payWithPaystack(e) {
            e.preventDefault();
            let handler = PaystackPop.setup({
                    key: '{{ pk_public }}',
                    email: document.getElementById("email-address").value,
                    amount: document.getElementById("amount").value * 100,
                    ref: 'KDBB_' + Math.floor((Math.random() * 1000000000) + 1), // Generate unique reference
                    // label: "Optional string that replaces customer email"
                    metadata: {
                        custom_fields: [
                            {
                                display_name: "Mobile Number",
                                variable_name: "mobile_number",
                                value: "+2348012345678"
                            }
                        ]
                    },
                    onClose: function () {
                        alert('You are about to exit paymtent');
                    },
                    callback: function (response) {
                        var reference_id = response.reference

                        let message = 'Payment complete! Reference: ' + reference_id;
                        alert(message);

                        // Verify transaction
                        const currUrl = new URL('{{ request.build_absolute_uri }}')
                        currUrl.pathname = "/payment/verify/" + reference_id;
                        console.log(currUrl);
                        window.location.replace(currUrl.href)
                    }
                });
                handler.openIframe();
            }
    </script>
{% endblock %}